<section class="gm-settings" data-group="sidebar" data-tab="gm-settings">
    {{> "modules/t2k4e-loot-sheet-npc/templates/partials/gm/lootsheet-type.hbs"}}
    <hr />
    {{> "modules/t2k4e-loot-sheet-npc/templates/partials/gm/inventory.hbs"}}
    <hr />
    {{> "modules/t2k4e-loot-sheet-npc/templates/partials/gm/permissions.hbs"}}
    <hr />
    {{> "modules/t2k4e-loot-sheet-npc/templates/partials/gm/styling.hbs"}}
</section>