<div class="item-buttons">
    <a class="button item-edit" title="{{localize "T2K4E.ActorSheet.Edit"}}">
        {{{@root.config.Icons.buttons.edit}}}
    </a>
    <a class="button item-delete" title="{{localize "T2K4E.ActorSheet.Delete"}}">
        {{{@root.config.Icons.buttons.delete}}}
    </a>
</div>
