<div class="item-buttons">
    <a class="button item-loot" data-action="lootItem" data-get-all="false" title="{{localize "lsnpc.buttons.loot.gear.label"}}">
        {{{@root.config.Icons.buttons.stash}}}
    </a>
</div>
