<article class="tab" data-tab="patchnotes" data-group="ws-sections">
    <header>
        <h1>Patchnotes</h1>
    </header>
    <h2>0.1.0</h2>
<!--    <ul>-->
<!--        <li>Feature <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues/337">buy/sell modifier #337</a></li>-->
<!--        <li>Sheet dark mode as default</li>-->
<!--        <li>hide buy options / Trade on actors in sidebar. (Only show on tokens)</li>-->
<!--        <li>remove console.logs</li>        -->
<!--        <li> fixed <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues/338">CR adjustment #338</a></li>-->
<!--        <li> fixed <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues/346">flag updates #346</a></li>-->
<!--        <li> fixed <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues/347">fixed natural weapons issue #347</a></li>-->
<!--        <li> fixed <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues/348">chat log price #348</a></li>-->
<!--    </ul>-->
</article>