<article class="tab" data-tab="patchnotes" data-group="ws-sections">
    <h2>{{localize "lsnpc.welcomeScreen.patch.0.1.0.title"}}</h2>
    <ul>
        <li>{{localize "lsnpc.welcomeScreen.patch.0.1.0.0"}}</li>
    </ul>
</article>